.product_container {
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
    align-items: center;

    .product_main_box {
        display: flex;
        width: 70%;
        justify-content: center;
        gap: 30px;

        .product_description_box {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .product_title {
                // white-space: nowrap;
                font-size: 40px;
                font-weight: bold;
            }

            .stars_box {
                display: flex;
                gap: 3px;
    
                img {
                    height: 16px;
                    width: 16px;
                }
            }

            .product_rate {
                font-size: 18px;
            }

            .product_price {
                font-size: 40px;
                font-weight: bold;
                color: #ED3636;
            }

            .color_indicator {
                font-weight: bold;
            }

            .color_dots {
                display: flex;
                gap: 15px;

                .dot {
                    border-radius: 50%;
                    padding: 5px;
                    border: 2px solid white;
                    background-color: white;

                    &:focus {
                        border: 2px solid black;
                    }

                    .dot_inner {
                        border-radius: 50%;
                        width: 30px;
                        height: 30px;
                        border: .5px solid black;
                    }
                }
            }

            .product_counter {
                display: flex;
                justify-content: space-between;
                padding: 10px;
                border: 1px solid #808080;
                border-radius: 7px;

                button {
                    border: none;
                    background-color: rgb(246, 246, 246);
                    cursor: pointer;
                    border-radius: 5px;
                }
            }

            .btn_buy_it_now {
                padding: 10px;
                background-color: #ED3636;
                border-radius: 5px;
                border: none;
                color: white;

                &:hover {
                    background-color: #4A4A4A;
                }
            }

            .btn_add_to_cart {
                background-color: #242424;
                border-radius: 5px;
                border: none;
                color: white;
                padding: 10px;

                &:hover {
                    background-color: #4A4A4A;
                }
            }
        }
    }
}