.product_swiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.swiper {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.thumbs_swiper {
  width: 100%;
  height: 100px; // Высота миниатюр
  margin-top: 20px;
}

.thumbs_slider img {
  cursor: pointer;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.thumbs_slider.swiper-slide-thumb-active img {
  border-color: #007aff; // Цвет активной миниатюры
}
