.main_container {
    display: flex;
    justify-content: center;
    height: 75vh;
    overflow-x: hidden;

    .banner_media {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .banner {
            position: absolute;
            width: 120%;
            z-index: -1;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 60%;
    align-items: center;
    padding: 20px;
    background-color: white;

    .login_title {
        font-size: 20px;
        font-weight: bold;
    }

    .input_box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        position: relative;

        .password_eye {
            position: absolute;
            top: 32px;
            right: -80px;
            width: 22px;
        }

        input {
            border: none;
            outline: none;
            border-bottom: 1px solid silver;
            width: 200%;
            padding: 5px;
            font-size: 18px;

            &::placeholder {
                font-size: 18px;
            }
        }
    }

    button {
        display: flex;
        gap: 10px;
        justify-content: center;
        background-color: white;
        border: none;
        box-shadow: 1px 1px 5px 1px rgb(118, 118, 118);
        padding: 12px 20px;
        font-weight: bold;
        font-size: 16px;
        transition: .6s;

        &:hover {
            background-color: rgb(68, 68, 68);
            color: rgb(236, 236, 236);
        }
    }

    .link {
        text-decoration: underline;
    }
}